body {
    background-color: rgb(219, 207, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container1 {
    text-align: center;
    border: 5px solid #000;
    border-radius: 10px;
    padding: 20px; 
}
input {
    margin-bottom: 10px; 
}
button {
    background-color: #008CBA; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
